body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* 링크 스타일 초기화 */
a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 부모 요소의 색상을 따름 */
    display: block;
    cursor: pointer;
}

/* 추가적으로 링크가 클릭될 때 스타일 변경 방지 */
a:visited, a:hover, a:active {
    color: inherit; /* 색상 변경 방지 */
}

/*헤더*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.icon-left, .icon-right {
    width: 28px;
}
.icon-left img, .icon-right img {
    width: 100%;
    height: auto;
}
.logo {
    font-size: 1.8rem; /*1rem= 16px*/
    text-align: center;
    flex: 1;
}

/*검색창*/
.search-container {
    display: flex;
    justify-content: center;
    padding: 5px;
}
.search-box {
    display: flex;
    align-items: center;
    width: 90%;
    background-color: #BFD594;
    padding: 10px;
}
.search-box input {
    border: none;
    outline: none;
    width: 90%;
    padding: 5px;
    font-size: 1.2rem;
    background-color: #BFD594;
}
.search-box button {
    background: none;
    border: none;
    font-size: 20px;
    color: #f2f2f2;
    cursor: pointer;
}

/*광고*/
.ad-container {
    margin-top: 0.5rem;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.ad-banner {
    display: flex;
    transition: transform 0.5s ease; /* 슬라이드 전환 애니메이션 */
}
.ad-slide {
    position: relative;
    min-width: 100%; /* 슬라이드가 화면에 하나씩만 표시되도록 설정 */
    transition: transform 0.5s ease; /* 슬라이드 전환 애니메이션 */
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center;
}
.ad-slide img {
    width:100%;
}

/* 광고 라벨 */
.ad-label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
    padding: 3px 8px;
    font-size: 1rem;
}

/*광고 페이지 인디케이터 */
.ad-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);/*중앙 이동*/
    display: flex;
    gap: 8px;
}
.indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
}
.indicator.active {
    background-color: white;
}

.content {
    display: flex;
    flex-direction: column;
    margin : auto;
    margin-top: 10px;
    width: 90%;
}
.content-txt{
    font-size: 1rem;
}
.c-name {
    font-size: 1.2rem;
    margin-bottom: 5%;
    font-weight: bold;
}
.content-item {
    background-color: #d6e3b8;
    padding: 15px;
    margin: 5px 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-item img {
    width: 20%;
    height: 20%;
    max-height: 5rem;
    max-width: 5rem;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}