body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* 링크 스타일 초기화 */
a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 부모 요소의 색상을 따름 */
    display: block;
    cursor: pointer;
}

/* 추가적으로 링크가 클릭될 때 스타일 변경 방지 */
a:visited, a:hover, a:active {
    color: inherit; /* 색상 변경 방지 */
}

header {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 1.8rem; /*1rem= 16px*/
    text-align: center;
    flex: 1;
}

/*메뉴 바*/
.menu-bar {
    
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.menu-bar a {
    color: black; /* 검은색 텍스트 */
    text-decoration: none; /* 밑줄 제거 */
}

.menu-bar a:hover {
    color: #4CAF50; /* 호버 시 색상 */
}

.divider2 {
    border: 0;
    height: 1px;
    background: #e0e0e0;
    margin: 10px 0;
}

.divider1 {
    border: 0;
    height: 1px;
    background: #000000;
    margin: 10px 0;
}

.tab-item {
    text-align: center;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}

/*검색창*/

.search-container {
    display: flex;
    justify-content: center;
    padding: 5px;
}
.search-box {
    display: flex;
    align-items: center;
    width: 90%;
    background-color: #BFD594;
    padding: 10px;
}
.search-box input {
    border: none;
    outline: none;
    width: 90%;
    padding: 5px;
    font-size: 1.2rem;
    background-color: #BFD594;
}
.search-box button {
    background: none;
    border: none;
    font-size: 20px;
    color: #f2f2f2;
    cursor: pointer;
}

ul#product-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

ul#product-list li {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

ul#product-list li img {
    width: 50px; /* 이미지의 너비를 지정 */
    height: 50px; /* 이미지의 높이를 지정 */
    margin-right: 15px; /* 이미지와 텍스트 사이의 간격 */
    border-radius: 5px; /* 이미지 모서리를 둥글게 설정 */
}

ul#product-list li div {
    flex: 1;
}


.move-to-index {
    font-size: 45px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #BFD594; /* 파란색 배경 */
    color: white;
    border: none;
    border-radius: 10px; /* 둥근 사각형 */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.move-to-index i {
    font-size: 1.5rem;
}

.move-to-index.show {
    opacity: 1;
    visibility: visible;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
